<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">

    <title>Tiny Editor - Weak Credentials</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <!-- favicon -->
    <link rel="icon" type="image/png" href="/images/favicon.png?cb=1">

    <!-- Material Lite -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="/external/scripts/code.getmdl.io.material.min.js"></script>

	<link href="https://fonts.googleapis.com/css?family=Arimo:400,700" rel="stylesheet">

  </head>

  <body>
  	<div id="header"></div>
  	<div id="container">
  		<section>
  			<h1>Weak password</h1>
  			<p>Please pick a stronger password...</p>
  			<a href="" class="button">Create</a>
  		</section>
  	</div>

  	<script type="text/javascript" src="/dist/build.js"></script>
  </body>
</html>